.mbg-pricing-table {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
}

.mbg-pricing-table .plan {
  margin: 0;
  width: 100%;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  background-color: #222f3d;
  border-radius: 8px;
}

.mbg-pricing-table .plan i,
.mbg-pricing-table .plan i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.mbg-pricing-table * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.mbg-pricing-table header {
  color: #ffffff;
}

.mbg-pricing-table .plan-title {
  line-height: 60px;
  position: relative;
  margin: 0;
  padding: 0 20px;
  font-size: 1.6em;
  letter-spacing: 2px;
  font-weight: 700;
}

.mbg-pricing-table .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 20px;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.mbg-pricing-table .plan-cost {
  padding: 0 20px;
  margin: 0;
}

.mbg-pricing-table .plan-price {
  font-weight: 400;
  font-size: 2.8em;
      margin: 10px 0 0 0;
  display: inline-block;
}

.mbg-pricing-table .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}

.mbg-pricing-table .plan-features {
  padding: 0 0 20px;
  margin: 0;
  list-style: outside none none;
  font-size: 25px;
}

.mbg-pricing-table .plan-features i {
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.mbg-pricing-table .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.mbg-pricing-table .plan-select a {
  background-color: #156dab;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}

.mbg-pricing-table .plan-select a {
  background-color: #1b8ad8;
}

.mbg-pricing-table .featured {
  margin-top: -10px;
  z-index: 1;
  border-radius: 8px;
  border: 2px solid #156dab;
  background-color: #156dab;
}

.mbg-pricing-table .featured .plan-select {
  padding: 30px 20px;
}

.mbg-pricing-table .featured .plan-select a {
  background-color: #10507e;
}

@media only screen and (max-width: 767px) {
  .mbg-pricing-table .plan {
    width: 49%;
    margin: 0.5%;
  }
  .mbg-pricing-table .plan-title,
  .mbg-pricing-table .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .mbg-pricing-table .plan-select,
  .mbg-pricing-table .featured .plan-select {
    padding: 20px;
  }
  .mbg-pricing-table .featured {
    margin-top: 0;
  }
  .mbg-pricing-table .featured header {
    line-height: 70px;
  }
}

@media only screen and (max-width: 440px) {
  .mbg-pricing-table .plan {
    margin: 0.5% 0;
    width: 100%;
  }
}
.plan-features li br {
  display: none;
}
.plan-features li:before {
  content: "\f068";
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.mbg-pricing-table .plan-features li {
    padding: 8px 0;
    margin-left: 40px;
}